* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #eaeaea;
}

.content {
	padding: 50px;
}

.content table {
	font-family: "Poppins", sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.content td, 
.content th {
	border: 1px;
	text-align: center;
	padding: 8px;
}

.content tr:nth-child(even) {
	background-color: #dddddd;
}

.content button {
	width: 100%
}

.content button:hover {
	background: transparent;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 8%;
	background: #1743e3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 25px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideRight 1s ease forwards;
}

.navbar a {
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	margin: 0 20px;
	transition: .3s;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
	color: #1743e3;
}

.link a {
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	margin: 0 20px;
	transition: .3s;
}

.link a:hover {
	color: grey;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}


.home {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 8% 0;
	overflow: hidden;
}

.home2 {
	position: relative;
	width: 100%;
	height: auto;
	max-height: 200vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 8% 0;
	overflow: hidden;
}
.home-content {
	max-width: 700px;
}

.home-content h1 {
	font-size: 50px;
	line-height: 1.2;
}

.home-content h3 {
	font-size: 40px;
	color: #1743e3;
}

.home-content form {
	width: 700px;
	padding: 40px;
	background: #fff;
	border-radius: 10px;
}


.hom-content .view-table {
	margin: 15px 0;
}

.view-table table {
	font-family: "Poppins", sans-serif;
	width: 100%;
	padding: 10px;
}

.home-content td, 
.home-content th {
	border: 1px;
	text-align: center;
	padding: 8px;
}

.home-content tr:nth-child(even) {
	background-color: #dddddd;
}

form .row {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.row .column {
	flex: 1 1 250px;
}

.column .input-box {
	margin: 15px 0;
}

.input-box label {
	display: block;
	margin-bottom: 10px;
}

.input-box input {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 15px;
}

.input-box select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 15px;
}

.column .flex {
	display: flex;
	gap: 15px
}

form .btn {
	width: 100%;
	padding: 12px;
	background: #8175d3;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 17px;
	color: #fff;
	margin-top: 5px;
	cursor: pointer;
	transition: .5s;
}

form .btn:hover {
	background: #6a5acd;
}

.home-decoration {
	position: relative;
	right: -7%;
	width: 450px;
	height: 450px;
	transform: rotate(45deg);
}

.home-decoration .rhombus {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #eaeaea;
	border: 25px solid #1743e3;
	box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);
}

.home .rhombus2 {
	position: absolute;
	top: -25%;
	right: -25%;
	width: 700px;
	height: 700px;
	background: #1743e3;
	transform: rotate(45deg);
	z-index: -1;
}

.home .employee-decoration {
	position: absolute;
	top: -25%;
	right: -25%;
	width: 700px;
	height: 700px;
	background: #1743e3;
	transform: rotate(45deg);
	z-index: -1;
}

/*KEYFRAMES ANIMATION*/
@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideTop {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
