{% extends 'base.html' %}

{% block head %}
	<title>AVAhotels.com</title>
{% endblock %}

{% block body %}
	<header class="header">
		<a href="#" class="logo">AVAhotels.</a>

		<nav class="navbar">
			<a href="#home" style="--i:1;">Home</a>
			<a href="#rooms" style="--i:2;">Rooms</a>
		</nav>

		<nav class="link">
			<a href="/login">Logout</a>
		</nav>
	</header>

	<section class="home" id="home">
		<div class="home-content">
			<h1>Discover New Experiences.</h1>
			<h3>Where to?</h3>
			
			<form action="/results-customer" method="GET">
				<div class="row">
					<div class="column">
						<div class="input-box">
							<label for="chain">Hotel Chain:</label>
							<select name="chain" id="chain_name">
								<option value="">--Select Chain--</option>
								{% for chain in hotel_chains %}
								<option value="{{chain[0]}}">{{chain[0]}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-box">
							<label for="capacity">Travellers:</label>
							<input name="capacity" type="number" placeholder="#" step="0">
						</div>
						<div class="input-box">
							<label for="start_date">Start Date:</label>
							<input name="start_date" type="date" id="start_date">
						</div>
						<div class="input-box">
							<label for="expandable">Expandable:</label>
							<input name="expandable" type="checkbox" value="true">
						</div>
					</div>

					<div class="column">
						<div class="input-box">
							<label for="location">Location:</label>
							<select name="location" id="location">
								<option value="">--Select Location--</option>
								{% for hotel in hotels %}
								<option value="{{hotel[3]}}">{{hotel[3]}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-box">
							<label for="price">Price Under:</label>
							<input name="price" type="number" placeholder="150.00" step="0.01">
						</div>
						<div class="input-box">
							<label for="end_date">End Date:</label>
							<input name="end_date" type="date" id="end_date">
						</div>
						<div class="input-box">
							<label for="view">View:</label>
							<select name="view" id="view">
								<option value="">--Select View--</option>
								<option value="mountain">Mountain</option>
								<option value="ocean">Ocean</option>
							</select>
						</div>
					</div>
	
				</div>
				
				<button type="submit" class="btn">Submit</button>
			</form>
		</div>

		<div class="home-decoration">
			<div class="rhombus"></div>
		</div>

		<div class="rhombus2"></div>
	</section>

	<section class="home2" id="rooms">
		<div class="home-content">
			<h1>Rooms per area:</h1>
			
			<div class="row">

				{% set halfway = numroom_per_area|length // 2 %}
				
				<div class="column">
					<div class="view-table">
						<table>
							<tr>
								<th>Location:</th>
								<th>Available Rooms:</th>
							</tr>
							{% for i in range(halfway) %}
							<tr>
								<td>{{numroom_per_area[i][1]}}</td>
								<td>{{numroom_per_area[i][0]}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<div class="column">
					<div class="view-table">
						<table>
							<tr>
								<th>Location:</th>
								<th>Available Rooms:</th>
							</tr>
							{% for i in range(halfway, numroom_per_area|length) %}
							<tr>
								<td>{{numroom_per_area[i][1]}}</td>
								<td>{{numroom_per_area[i][0]}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="home2" id="rooms">
		<div class="home-content">
			<h1>Total room capacity:</h1>
			
			<div class="row">

				{% set halfway = total_rooms|length // 2 %}
				
				<div class="column">
					<div class="view-table">
						<table>
							<tr>
								<th>Location:</th>
								<th>Total Capacity:</th>
							</tr>
							{% for i in range(halfway) %}
							<tr>
								<td>{{total_rooms[i][0]}}</td>
								<td>{{total_rooms[i][1]}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<div class="column">
					<div class="view-table">
						<table>
							<tr>
								<th>Location:</th>
								<th>Total Capacity:</th>
							</tr>
							{% for i in range(halfway, total_rooms|length) %}
							<tr>
								<td>{{total_rooms[i][0]}}</td>
								<td>{{total_rooms[i][1]}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
