{% extends 'base.html' %}

{% block head %}
	<title>EmployeeView</title>
{% endblock %}

{% block body %}
        <header class="header">
                <a href="#" class="logo">AVAhotels. *EMPLOYEE*</a>

                <nav class="navbar">
                        <a href="#check-in" style="--i:1;" class="active">Check-Ins</a>
                        <a href="#renting" style="--i:2;">Renting</a>
                </nav>

                <nav class="link">
                        <a href="/login">Logout</a>
                </nav>
        </header>

	<section class="home" id="check-in">
		<div class="home-content">
			<h3>Find Customer Booking:</h3>

			<form action="/employee" method="POST">
				<div class="row">
					<div class="column">
						<div class="flex">
							<div class="input-box">
								<label for="customer_id">Enter Customer ID:</label>
								<input name="customer_id" type="text" placeholder="#123456789">
							</div>
							<div class="input-box">
								<label for="booking_id">Enter Booking ID:</label>
								<input name="booking_id" type ="text" placeholder="#123456789">
							</div>
						</div>
					</div>
				</div>
				
					<button type="submit" class="btn">Check-in</button>
			</form>
		</div>

		<div class="employee-decoration"></div>

	</section>
	<section class="home" id="renting">
		<div class="home-content">
			<h3>RENT ROOMS DIRECTLY HERE</h3>
		</div>
	</section>
{% endblock %}
