{% extends 'base.html' %}


{% block head %}
	<title>Databases Project</title>
{% endblock %}


{% block body %}
	
	<h1>Hotel chains</h1>

	{% for chain in hotel_chains %}
		<div>
			<h3>#{{ chain[0] }} - {{ chain[1] }}</h3>
		</div>
	{% endfor %}

	<br>

	<form action="/" method="POST">
		<label for="chain_name">Chain name:</label>
		<input name="chain_name" id="chain_name" type="text">

		<br>

		<label for="num_hotels">Number of hotels:</label>
		<input name="num_hotels" id="num_hotels" type="number" step="0">

		<br>

		<input type="reset">
		<input type="submit">
	</form>



{% endblock %}

