{% extends 'login_base.html' %}

{% block head %}
	<title>Register</title>
{% endblock %}

{% block body %}

<div class="wrapper">
	<form action="/register" method="GET">
		<div class="row">
			<div class="column">
				<div class="input-box">
					<label for="chain">Hotel Chain:</label>
					<select name="chain" id="chain_name">
						<option value="">--Select Chain--</option>
						{% for chain in hotel_chains %}
						<option value="{{chain[0]}}">{{chain[0]}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-box">
					<label for="capacity">Travellers:</label>
					<input name="capacity" type="number" placeholder="#" step="0">
				</div>
				<div class="input-box">
					<label for="start_date">Start Date:</label>
					<input name="start_date" type="date" id="start_date">
				</div>
				<div class="input-box">
					<label for="expandable">Expandable:</label>
					<input name="expandable" type="checkbox" value="true">
				</div>
			</div>
			<div class="column">
				<div class="input-box">
					<label for="location">Location:</label>
					<select name="location" id="location">
						<option value="">--Select Location--</option>
						{% for hotel in hotels %}
						<option value="{{hotel[3]}}">{{hotel[3]}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-box">
					<label for="price">Price Under:</label>
					<input name="price" type="number" placeholder="150.00" step="0.01">
				</div>
				<div class="input-box">
					<label for="end_date">End Date:</label>
					<input name="end_date" type="date" id="end_date">
				</div>
				<div class="input-box">
					<label for="view">View:</label>
					<select name="view" id="view">
						<option value="">--Select View--</option>
						<option value="mountain">Mountain</option>
						<option value="ocean">Ocean</option>
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="btn">Submit</button>
	</form>

	<form action="/register">
		<h1>Register</h1>
		<div class="input-box">
			<input type="text" placeholder="Enter a Username" required>
		</div>
		<div class="input-box">
			<input type="password" placeholder="Enter a Password" required>
		</div>

		<button type="submit" class="btn">Register</button>

		<div class="link">
			<p>Already have an account? <a href="/login">Login</a></p>
		</div>
	</form>
</div>

{% endblock %}
